@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);

h1{
  font-family: 'Playfair Display', serif;
  color: #496C89

}

h2 {
  font-family: 'Playfair Display', serif;
  color: #042037
}

body{
  background-image: blue;
}

nav {
	width: 20%;
	float: left;
	padding: 0 .25em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
  font-family: 'Playfair Display', serif;
}

#content {
	float: right;
	width: 75%;
	padding: 0 1em;
  font-family: 'Playfair Display', serif;
  color: #003A23
}
